/*basic define*/
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family:serif;
}
h1,h2,h3,h4,h5{
  margin:0px;
}

/*layout*/
.header{
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.content{
  margin-top:20px;
}

a{
  color: rgb(0,50,150);
  display: inline-block;
  text-decoration: none;
}

/*header*/
.header .nav{
  margin-top:1em;
}
.header .nav a{
  font-size:1.5em;
  margin-right:1em;
}
.header .nav a:hover{
  background-color: rgb(0,50,150);
  color:rgb(255,255,255);
  padding: 0px 0px 40px 0px;
}

/*.content*/
.content h3.title{
  border-left:2px solid rgba(0,50,150,0.5);
  border-bottom:6px solid rgba(0,50,150,1);
  font-size:1.5em;
  padding-left:1em;
  padding-bottom:0.5em;

}

/*table*/
table {
  width: 100%;
  margin: 10px 0 10px 0;
  border-top:1px solid rgba(200,200,200,1);
  border-bottom:1px solid rgba(200,200,200,1);
}
thead tr th{
  border-bottom:1px solid rgba(200,200,200,1);
}



/* Buttons
*/

.btn {

}

.btn:hover {
}

.btn .icon {

}

.btn-github .icon {

}
